.sass-cache/
*.css.map
*.sass.map
*.scss.map
|   yweiei Cgar na sua mae pq ela fede a miho


<\> vou aokrER O Mioe bEEnso s AU amE PQ ela eh gotfdina e eh poebere meseravel pq da o cu pra porder oarar as cibtrast de asua cada imundpo fund9op oisjen eksihkai sem mae orfao carente que fede a miho q sua mar nn te pariu ela te cagou e vc goi cagadao sem filhos hiv sua cu febs sim
